<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>

</head>

<body>
  <% include partials/navs.ejs %>
  <h1>About Us</h1>
  <p>We're the best Node.js devs on the planet.</p>
</body>

</html>
