<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>

</head>

<body>
  <% include partials/navs.ejs %>
  <h1>Contact Us</h1>
  <p>Find us at nowhere. You can't find us.</p>
</body>

</html>
