<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
</head>
<body>
  <% include partials/navs.ejs %>
  <h1>This is a test page for Node.js with Express and EJS.</h1>
  <p>This should work.</p>
</body>

</html>
